<div id="result">
  <div>
    <div id="floors" *ngFor="let floor of floors">
      <img [src]="floor.img"/>
    </div>
  </div>
  <div *ngIf="numOfThrows!=1">מספר הזריקות המקסימלי לבצע כדי לגלות את הקומה ממנה מתנפצים הכדורים הוא:
    <h2>{{numOfThrows}}</h2>
  </div>
</div>

<ng-template dir="rtl" #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">בחירת מספר קומות</h4>
  </div>
  <div dir="rtl" class="modal-body">
    <p style="font-size: 20px">שלום יוסף שלוסברג. אנא בחר מספר קומות על מנת שנוכל לחשב מה מספר הזריקות המקסימלי :)</p>
  </div>
  <form #form = "ngForm" (ngSubmit) = "updateNumOfFloors(form.value)" >
    <label> בחר את מספר הקומות בבניין</label>
    <input type = "text" name = "numOfFloors" placeholder = "100" ngModel>
    <input class="btn btn-success" type = "submit" value = "אשר">
  </form>
  <div class="modal-footer" style="display: flex; justify-content: center">
    <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
